In [84]:
import pandas as pd
import sqlite3
import random
import warnings
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pickle
warnings.filterwarnings(action='ignore', category=FutureWarning)

In [54]:
df = pd.DataFrame(columns=['id', 'Q1', 'Q2', 'Q3', 'Q4'])

Q1-> 0-0 introvert ,1-0.5 introvert 3-0.75 extrovert 3-1 extrovert
Q2-> 0-0 intorvert, 1-0.5 introvert, 3-0.75 extrovert, 4-1 extrovert
Q3-> 0-0 introvert, 1-0.5 introvert, 3-0.75 extrovert, 4-1 extrovert
Q4-> 0-0 introvert, 1-0.5 introvert, 3- 0.75 extrovert, 4-1 extrovert

In [55]:
for i in range(0,500):
    df = df.append({'id': i, 'Q1':random.randint(1,4), 'Q2':random.randint(1,4), 'Q3':random.randint(1,4), 'Q4':random.randint(1,4)},
                  ignore_index=True)

In [56]:
df.tail()

      id Q1 Q2 Q3 Q4
495  495  2  3  3  2
496  496  1  2  2  4
497  497  1  3  2  4
498  498  4  3  1  4
499  499  3  4  1  4

In [70]:
(df.Q1*(df.Q1/4)+ df.Q2*(df.Q2/4)+ df.Q3*(df.Q3/4) + df.Q4*(df.Q4/4))

0       5.5
1      5.75
2       4.5
3      5.75
4       7.5
       ...
495     6.5
496    6.25
497     7.5
498    10.5
499    10.5
Length: 500, dtype: object

## Assign labels

In [71]:
df['label'] = np.where((df.Q1*(df.Q1/4)+ df.Q2*(df.Q2/4)+ df.Q3*(df.Q3/4) + df.Q4*(df.Q4/4)) < 8, 0, 1)

In [72]:
df.head()

  id Q1 Q2 Q3 Q4  label
0  0  1  2  1  4      0
1  1  1  3  3  2      0
2  2  1  2  3  2      0
3  3  3  3  2  1      0
4  4  4  1  3  2      0

In [74]:
df[df.label > 0]

      id Q1 Q2 Q3 Q4  label
9      9  4  4  4  2      1
10    10  4  3  4  1      1
11    11  2  4  3  4      1
12    12  4  3  2  2      1
16    16  2  4  4  1      1
..   ... .. .. .. ..    ...
491  491  4  1  4  2      1
492  492  1  3  3  4      1
494  494  3  4  2  3      1
498  498  4  3  1  4      1
499  499  3  4  1  4      1

[210 rows x 6 columns]

## Split Dataset

In [78]:
X_train, x_test, Y_train, y_test = train_test_split(df[['Q1', 'Q2', 'Q3', 'Q4']], df.label, test_size=0.3, random_state=42)

## Define Model

In [83]:
model = LogisticRegression()
model.fit(X_train, Y_train)
predict = model.predict(x_test)
metrics.accuracy_score(y_test, predict)

0.96

## Sample Test

In [87]:
model.predict([[1,1,1,1], [4,4,4,4]])

/home/mishra/anaconda3/envs/p_3_10/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0, 1])

In [91]:
pickle.dump(model, open('personality.pkl', 'wb'))